*.DS_STORE
# Ignore all model files
*.h5
*.bin
*.safetensors

# Ignore the torch folder
ComfyUI_windows_portable/python_embeded/Lib/site-packages/torch/*

# ignore pycache
**/__pycache__/
**/.vscode/
*/assets/*
# Ignore chat_gpt_key.txt
chat_gpt_key.txt
*/chat_history.json

